<!-- Crear los SSL  -->
# openssl req -x509 -nodes -days 365 -newkey rsa:2048 -keyout key.pem -out cert.pem
<VirtualHost *:443>
    DocumentRoot "C:/xampp/htdocs/ec"
    ServerName localhost

    SSLEngine on
    SSLCertificateFile "ruta_cert.pem"
    SSLCertificateKeyFile "ruta_key.pem"
</VirtualHost>